.THIS .slds-input
{
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial;
    font-size: 14px;
    height: 52px;
}

.THIS .slds-select
{
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Arial;
    font-size: 14px;
    height: 52px;
}

.THIS .slds-file-selector__button
{
    background-color: #ffffff;
    color: #4c8313;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
    height: 45px;
    border-radius: 8px;
    border-color: #4c8313;
}

.THIS .dobicon
{
    margin-top: 40px;
}

.THIS .NoTopMargin
{
    padding-top: 0px;
}

.THIS .zeroLineheight
{
    line-height: 0px;
}

.THIS .smallLineheight
{
    line-height: 10px;
}

.THIS .PaddingDown
{
    padding-bottom: 16px;
}

.THIS .right_padding_firstname
{
    padding-right: 5% ;
}
.THIS .left_padding_lastname
{
    padding-left: 5% ;
}
.THIS .NoRightPadding
{
    padding-right: 0px !important;
}

.THIS .slds-file-selector__button:hover{
    color: #ffffff;
    background-color: #6ba235;  
}
.THIS .slds_file_uploaded_text{
    font-size : 14px;
    padding-left : 10px;
    text-decoration: underline ;
    font-family: Arial;
    font-weight: bold;
    color: #4c8313;
}
.THIS .slds_file_uploaded_text_summary_page{
    font-size : 14px;
    text-decoration: underline;
    font-family: Arial;
    font-weight: bold;
    color: #4c8313;
}
.THIS .slds-edit-selector__button
{
    background-color: #ffffff;
    color: #4c8313;
    /*border-radius: 8px;*/
  	border: solid 1px #4c8313;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    height: 28px;
    border-radius: 8px;
    border-color: #4c8313;
}

.THIS .slds-edit-selector__button:hover{
    color: #ffffff;
    background-color: #4c8313;  
}

.THIS .slds-file-selector__dropzone
{
    border: none;
}
.THIS .slds-file-selector__text
{
    display:none;
}

.THIS .Summary_hr_tag {
  /*width: 560px;  
  margin: 20px 0;*/
  height: 1px;
  background-color: #bbbbbb;
}

.THIS .Progress-indicator-font{
    font-size: 13px;
    font-family: Arial;
}
.THIS .summary-pill .slds-pill__remove{
    display: none !important;
}
.THIS .slds-pill
{
    border: none;
}
.THIS .completedStep {
    color: #421540 !important;
}
.THIS .circle {
    height: 37px;
    width: 36px;
    border-radius: 50%;
    border: 2px solid #421540;
    display: inline-block;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:bold;
}
.THIS .cicrle-top-padding-step{
    /*padding-top: 5px;*/
    text-align:center;
}
.THIS .line {
    background-color: #bbbbbb;
    height: 1px;
    width: calc(33% - 48px);
    /*width: 18%;*/
    display: inline-block;
    padding-bottom: 2px;
}

.THIS .completedLine {
    background-color: #421540 !important;
}
.THIS .circle-parent{
    width: 35px;
    display: inline-grid;
    white-space: nowrap;
    text-align:center;
}
.THIS .stepLabel{
    padding-top: 5px;
    color: #333333;
}
.THIS .content{
    font-size: 25px;
}
.THIS .activeStep{
    color: White;
}
.THIS .activeLabel{
    color: #333333;
    font-weight: bold;
}
.THIS .activeBackground{
    background-color: #391538; 
}
.THIS .activeLine{
    background-color: #1b7a39;
}
.THIS .inactiveStep{
    height: 37px;
    width: 36px;
    border-radius: 50%;
    border: 2px solid #bbbbbb;    
    background: #ffffff;
    color: #666666;
    font-weight:bold;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}
.THIS.Register-your-product{
    width: 358px;
    /*height: 44px;*/
    margin: 0 198px 32px 0;
    font-family: ArcherSSm-Bold;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #333333;
}
.THIS.PageHeader {
    
    height: 32px;
    /*margin: 39px 147px 16px 441px;*/
    font-family: ArcherSSm;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
    /* text-align:center;*/
    
}
.THIS .HomeText {
   /* margin: 16px 444px 25px 441px;*/
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #333333;
}

.THIS .custom-heading_color {
 color: #666666;
}
.THIS .custom-box {
    color: #6ba235;
}

.THIS .font_family {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #333333;
}

.THIS .font_family_bold {
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #333333;
}

.THIS .sfdc_button_breville {
    font-family: "Arial";
    margin: 36px auto 33px auto;
    display: block;
    color: #ffffff;
    background-color: #4c8313;
    border-radius: 8px;
    text-align: center;
    /*padding: 10px 32px;*/
    padding: 0% 5% 0% 5%;
    font-size: 18px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*width: 140px;*/
   /* height: 52px;*/
    height: 45%;
}

.THIS .sfdc_button_breville:hover{
    color: #4c8313;
    background-color: #ffffff;  
}

.THIS .sfdc_big_button_breville:hover{
    color: #4c8313;
    background-color: #ffffff;  
}

.THIS .sfdc_big_button_breville {
    font-family: "Arial";
    margin: 36px auto 33px auto;
    color: #ffffff;
    background-color: #4c8313;
    border-radius: 8px;
    text-align: center;
    /*padding: 10px 32px;*/
    padding: 0% 5% 0% 5%;
    font-size: 18px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*width: 240px;
    height: 52px;*/
    height: 45%;
}
.THIS .sfdc_big_button_breville_thanks_page {
    font-family: "Arial";
    margin: 36px auto 33px auto;
    color: #ffffff;
    background-color: #4c8313;
    border-radius: 8px;
    text-align: center;
    /*padding: 10px 32px;*/
    padding: 0% 5% 0% 5%;
    font-size: 18px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /*width: 240px;
    height: 52px;
    height: 45%;*/
    height: 55px;
}
.THIS .sfdc_tool_tip_top{
    
}
.THIS .sfdc_right_margin{
    
}
.THIS .sfdc_max_width_root{
}
.THIS .sfdc_cmp_root_div{
   
}
.THIS .sfdc_input_box_div{
}
.THIS .sfdc_root_div_width{
}
.THIS .sfdc_root_div_left{
    
}
.THIS .sfdc_next_button_root_div_left{
    
}
.THIS .sfdc_summary_edit_button {
    font-size: 16px; 
    font-family: Arial; 
    font-weight: bold; 
}
.THIS .sfdc_tool_tip_bottom{
   
}
.THIS .sfdc_tool_tip_top_icon{
    margin-top: 1.4%;
    font-family:Arial;    
    color:#6da439;
    /*z-index: 10;*/
}
.THIS.slds_responsive {
    
}
.THIS .sfdc_text_size_responsive{
    font-size : 14px;
}
.THIS .sfdc_text_process_indicator_responsive{
    margin-left: -12%;
}
.THIS .sfdc_back_button_root_div_left{
    
}
.THIS .sfdc_recaptcha_responsive{
    
}
.THIS .sfdc_root_div_padding{
    
}
.THIS .sfdc_process_line_padding{
    
}
.THIS .sfdc_big_button_width_height{
    width: 100%;
    padding: 11px;
}
.THIS .sfdc_button_width_height{
    
}
.THIS .sfdc_button_width_height_summary_page_back{
    width: 100%;
    padding: 11px;
}
.THIS .sfdc_Thanks_page_button_width_height{
    
}

.THIS .forceCommunitySection.cb-section_column
    {
        display: flex!important;
        flex-direction: row!important;
        justify-content: center!important;
    }

@media screen and (max-width: 300px) {
    /*.THIS .forceCommunitySection .cb-section_column
    {
        display: flex;
    	justify-content: left;
    }*/
    .THIS.slds_responsive {
        width: 260px;
    } 
    .THIS.sfdc_button_breville{
        width: 80%;
    }
    .THIS .sfdc_text_size_responsive{
    font-size : 10px;
}
    .THIS .sfdc_back_button_root_div_left{
    width :65%;
}
    .THIS .sfdc_recaptcha_responsive{
    
}
    .THIS .sfdc_root_div_padding{
    padding-left: 6%;
}
    .THIS .sfdc_process_line_padding{
        width: 10%;
}
    .THIS .sfdc_button_width_height{
        width :80%;
        height :45%;
}
    /*.THIS .sfdc_big_button_width_height{
        width :100%;
        height :45%;
}*/
    .THIS .sfdc_Thanks_page_button_width_height{
        width :90%;
}
    /*.THIS .sfdc_button_width_height_summary_page_back{
    width :90%;
}*/
}
@media screen and (min-width: 301px) and (max-width: 555px) {
    /*.THIS .forceCommunitySection .cb-section_column
    {
        display: flex;
    	justify-content: left;
    }*/
    .THIS.slds_responsive {
        width: 98%;
    } 
    .THIS .sfdc_text_size_responsive{
    font-size : 11px;
}
    .THIS .sfdc_back_button_root_div_left{
    width :50%;
}
    .THIS .sfdc_recaptcha_responsive{
     width : 30%;
}
     .THIS .sfdc_root_div_padding{
    padding-left: 8%;
}
       .THIS .sfdc_process_line_padding{
        width: 15%;
}
       .THIS .sfdc_button_width_height{
        width :55%;
        height :45%;
}
     /*   .THIS .sfdc_big_button_width_height{
        width :85%;
        height :45%;
}*/
       .THIS .sfdc_Thanks_page_button_width_height{
        width :70%;
}
       /*.THIS .sfdc_button_width_height_summary_page_back{
        width :55%;
}*/
}
@media screen and (min-width: 556px) and (max-width: 799px) {
    /* .THIS .forceCommunitySection .cb-section_column
    {
        display: flex;
    	justify-content: left;
    }*/
    .THIS.slds_responsive {
        width: 98%;
    } 
    .THIS .sfdc_text_size_responsive{
    font-size : 12px;
}
    .THIS .sfdc_back_button_root_div_left{
    width :58%;
}
    .THIS .sfdc_recaptcha_responsive{
    width : 40%;
}
  
     .THIS .sfdc_root_div_padding{
    padding-left: 10%;
}
       .THIS .sfdc_process_line_padding{
        width: 20%;
}
       .THIS .sfdc_button_width_height{
        width :30%;
        height :45%;
}
   /*         .THIS .sfdc_big_button_width_height{
        width :65%;
        height :45%;
}*/
       .THIS .sfdc_Thanks_page_button_width_height{
        width :45%;
}
       /*.THIS .sfdc_button_width_height_summary_page_back{
        width :55%;
	}*/
}
@media screen and (min-width:800px) {
    /*.THIS .line {
    width: 218.6px;
	}*/
    /*.THIS .forceCommunitySection .cb-section_column
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }*/
    .THIS .slds_responsive {
        width: 800px;
        align-content: center;        
    } 
    .THIS .div.ui-widget
    {
        width: 800px;
        align-content: center;   
    }
    .THIS .sfdc_text_size_responsive{
    
   }
    .THIS .sfdc_back_button_root_div_left{
    width :30%;
}
    .THIS .sfdc_recaptcha_responsive{
    
}
     .THIS .sfdc_root_div_padding{
    padding-left: 12%;
}
       .THIS .sfdc_process_line_padding{
        width: 26%;
}
       .THIS .sfdc_button_width_height{
        width :25%;
        height :45%;
}
     /* .THIS .sfdc_big_button_width_height{
        width :45%;
        height :45%;
}*/
       .THIS .sfdc_Thanks_page_button_width_height{
        width :35%;
        height :52px;
}
     /*     .THIS .sfdc_button_width_height_summary_page_back{
        width :55%;
}*/
}

.THIS .anchorStyle{
    font-family:Arial;
    color:#4c8313;
    font-weight:bold;
}
.THIS .sfdc_tool_tip_top_inner_div{
    margin-top: .6%;
}
.THIS .container {
    width:100px;
    height:100px;
    overflow:hidden;
    display:block;
}
.THIS .container div {
    display:inline-block;
    position:relative;
    float:left;
}
.THIS .sfdc_file_upload_div{
    min-height: 37px;
    max-height: 50px;
    min-width:43px;
    max-width:62px;
}
.THIS .slds-form-element__label
{
    font-size: 14px  !important;
    font-family: Arial !important;
    font-weight: bold !important;
    color: black !important; 
    /*margin-top: 40px;*/
}

.THIS .labelwithTopMargin
{
    margin-top: 40px;
}

/*.THIS .slds-button__icon
{
    margin-top: 40px;
}*/

.THIS .noAsterisk .slds-required {
    display: none;
}


.THIS .borderValue {
    border: 0px;
}

.THIS .p .Thank_You_Header {
    text-align: left;
    font-size:100%;
}

.THIS .Thank_You_Content {
    text-align: left; 
}

.THIS .Back_to_Breville_home {
    background-color: #6ba235;
}

.THIS.changeStyle {
    background-color:blue;
    color:red;
}

.THIS .back_to_home {
    margin: 0px; 
    width: 32%;
}