.THIS .results {
    padding: 15px;
}
.THIS .search-field {
    padding: 15px;
}
.THIS .accountClass{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.42857;
    color: #ff5f00 !important;
    font-weight: bold !important;
}
.THIS .slds-text-title_caps{
    color:black;    
    background:#eeeeee;
}
.THIS .slds-button_brand{
    margin-top: 10px !important;
}