.THIS .custom-height{
    height: 500px;
}
.THIS .circle {
    height: 37px;
    width: 36px;
    border-radius: 50%;
    border: 2px solid #391538;
    display: inline-block;
    text-align:center;
}
.THIS .cicrle-top-padding-step{
    padding-top: 5px;
    text-align:center;
}
.THIS .line {
    background-color: gray;
    height: 1px;
    width: 15%;
    display: inline-block;
    padding-bottom: 2px;
}
.THIS .circle-parent{
    width: 35px;
    display: inline-grid;
    white-space: nowrap;
    text-align:center;
}
.THIS .stepLabel{
    padding-top: 5px;
    color: gray;
}
.THIS .content{
    font-size: 25px;
}
.THIS .activeStep{
    color: White;
}
.THIS .activeLabel{
    color: black;
    font-weight: bold;
}
.THIS .activeBackground{
    background-color: #391538; 
}
.THIS .activeLine{
    background-color: #1b7a39;
}
.THIS .inactiveStep{
    height: 37px;
    width: 36px;
    border-radius: 50%;
    border: 2px solid lightgrey;
    display: inline-block;
    background: whitesmoke;
    color: lightgrey;
    text-align:center;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;   
}


.THIS.Register-your-product{
    width: 358px;
    height: 44px;
    margin: 0 198px 32px 0;
    font-family: ArcherSSm-Bold;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #333333;
}

.THIS.PageHeader {
    
    height: 32px;
    /*margin: 39px 147px 16px 441px;*/
    font-family: ArcherSSm;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #333333;
    /* text-align:center;*/
    margin-right: 25%;
}
.THIS.marginCustom {
    margin: 39px 147px 16px 441px;
}
.THIS.HomeText {
    margin: 16px 444px 25px 441px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #333333;
}

.THIS .custom-box {
    background-color: #f4f6f9;
}
.THIS .font_family {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    
    letter-spacing: normal;
    color: #333333;
}
.THIS .sfdc_button_breville {
    font-family: "Arial";
    margin: 36px auto 33px auto;
    display: block;
    color: #ffffff;
    background-color: #6ba235;
    border-radius: 8px;
    text-align: center;
    padding: 10px 32px;
    font-size: 18px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 140px;
    height: 52px;
}

.THIS .sfdc_big_button_breville {
    font-family: "Arial";
    margin: 36px auto 33px auto;
    color: #ffffff;
    background-color: #6ba235;
    border-radius: 8px;
    text-align: center;
    padding: 10px 32px;
    font-size: 18px;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 50%;
    height: 52px;
}
.THIS .sfdc_tool_tip_top{
    z-index: 10000;
}
.THIS .sfdc_right_margin{
    margin-right: 2%;
}
.THIS .sfdc_max_width_root{
    width: 555px;
}
.THIS .sfdc_cmp_root_div{
    margin-left: 10%;
    margin-right: 30%;
}
.THIS .sfdc_tool_tip_bottom{
    margin-top: -1.5%;
}
.THIS .sfdc_tool_tip_top_icon{
    margin-top: 1.4%;
    z-index: 10000;
}
.THIS .sfdc_tool_tip_top_inner_div{
    margin-top: .6%;
    z-index: 10000;
}
.THIS .sfdc_input_box_div{
    padding-right: 17%;
}
.THIS .sfdc_root_div_width{
    margin-right: 25%;
}
.THIS .container {
    width:100px;
    height:100px;
    overflow:hidden;
    display:block;
}
.THIS .container div {
    display:inline-block;
    position:relative;
    float:left;
}
.THIS .sfdc_tool_tip_left{
    margin-left: 7%;
    width: 50%;
}
.THIS .sfdc_root_div_left{
    
}
.THIS .sfdc_next_button_root_div_left{
    margin-right: 19%;
}
.THIS .sfdc_back_button_root_div_left{
    margin-right: 3%;
    padding-left: 10%;
}
.THIS .slds-form-element__label
{
    font-size: 14px  !important;
    font-family: Arial !important;
    font-weight: bold !important;
    color: black !important; 
}
@media screen and (max-width: 300px) {
    .THIS.slds_responsive {
        width: 280px;
    } 
    .THIS.sfdc_button_breville{
        width: 80%;
    }
}
@media screen and (min-width: 301px) and (max-width: 480px) {
    .THIS.slds_responsive {
        width: 450px;
    } 
}
@media screen and (min-width:481px) and (max-width: 700px) {
    .THIS.slds_responsive {
        width: 690px;
    } 
}
@media screen and (min-width:701px) and (max-width: 1024px) {
    .THIS.slds_responsive {
        width: 1020px;
    }
}
@media screen and (min-width:1025px) {
    .THIS.slds_responsive {
        
    } 
}
.THIS .noAsterisk .slds-required {
    display: none;
}

/* Parent Container */
.THIS.content_img{
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
}
/* Child Text Container */
.THIS.content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.THIS.content_img:hover{
    cursor: pointer;
}

.THIS.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
}